/* Extra small devices (portrait phones, less than 576px) come first: */



.btn {
	border-radius: 17px;
}

body {
	font-family: 'Noto+Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Muli', sans-serif;
}

.navbar {
	margin:0;
	background-color: white;
	font-family: 'Muli', sans-serif;
	font-size: 12pt;

}

.navbar-brand {
	font-family: 'Muli', sans-serif;
	font-size: 18pt;
}

.navbar-shadow {
	box-shadow: 0px 28px 18px -18px rgba(0,0,0,0.24) !important;
}

header {
	height: 120vh;
	background-color: white;
	background-image:
		linear-gradient(rgba(35, 0, 250, 0.75), rgba(0, 255, 201, 0.65)),
        url('http://nlazzari.com/img/intro-background.png');
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    margin-top: 8vh;
		padding-top: 2vh;
}

/*header div.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}*/

#header-title {
	margin-top: 7vh;
	margin-bottom: 6vh;
	text-align: center;
	font-size: 1.9rem;
}

#header-byline {
	padding: 0 10vw;
  /*padding-right: 11vw;*/
	width: 95vw;
	font-size: 1.35rem;
	line-height: 2.3rem;
}

ul.social-row {
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 5vh;
}

ul.social-row li{
	display: flex;
	justify-content: center;
}

ul.social-row a.btn {
	display: block;
	width: 85%;
}

.btn-padding {
	margin-top: 30px;
}


#about {
	height: 200vh;
	margin:0;
	background: linear-gradient(#b3ffe5, #d6ecff);
}

#about-headline {
	color: white;
	margin-top: 12vh;
	margin-bottom: 8vh;
	padding: 0 6vw;
	font-size: 3.5rem;
	text-align: center;
}

#about-img {
	height: 43vh;
	border-radius: 50%;
}

#about-img-col {
	margin-bottom: 7vh;
}

#about-description p {
	padding: 0 12.5vw;
	line-height: 2rem;

}

.centered {
	display: flex;
	justify-content: center;
}


#portfolio {
	min-height: 750px;
	max-height: 2000px;
	margin: 0;
	background-color: #d6ecff;
}

.thumb-width {
	max-width: 250px;

}

#contacts {
	background-color: #29323d;
	color: white;
	margin:0;
}

img.img-responsive.thumbnail.thumb-width:hover,
img.img-responsive.thumbnail.thumb-width:focus,
img.img-responsive.thumbnail.thumb-width:active {
    transform: scale(1.025);
    -webkit-box-shadow: 0px 13px 6px -6px rgba(0,0,0,0.12);
	   -moz-box-shadow: 0px 13px 6px -6px rgba(0,0,0,0.12);
	        box-shadow: 0px 13px 6px -6px rgba(0,0,0,0.12);
}


img.img-responsive.thumbnail.thumb-width { 
	transition-duration: 0.07s;
    -webkit-transition-property:transform;
    transition-property: transform;
}

/*MEDIA QUERIES*/
@media (min-width: 375px) {
	#header-title {
		font-size: 2.3rem;
		margin-top: 6vh;
		margin-bottom: 6vh;
	}

	#header-byline {
		padding: 0 12vw;
		/*padding-right: 11vw;*/
		width: 95vw;
		font-size: 1.35rem;
	}

	#about-headline {
		font-size: 4.0rem;
		padding: 0 10vw;
	}
}

@media (min-width: 576px) {
	#header-title,
	#about-headline {
		font-size: 3.2rem;
	}

	#header-title {
		margin-top: 5vh;
	}

	#header-byline {
		padding-left: 14vw;
		width: 68vw;
		font-size: 1.43rem;
	}

	#about-img {
		height: 30vh;
	}


}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	header div.container {
    padding-left: 10vw;
	}

	#header-title {
		font-size: 3.8rem;
	}

	#header-title {
		text-align: initial;
		margin-top: 10vh;
		margin-bottom: 10vh;
	}

	#header-byline {
    	padding-left: 8vw;
		width: 70vw;
		margin-bottom: 8vh;
	}

	#about-headline {
		margin-bottom: 10vh;
		padding: 0 10vw;
		font-size: 4.0rem;
	}

	#about-description p {
		padding: 1vh 6vw;
	}

	#about-img {
		height: 40vh;
	}

	ul.social-row a.btn {
		width: 100%;
	}

	ul.social-row li{
		justify-content: flex-start;
	}

	.about-headline {
		justify-content: flex-start !important;
	}

}

 /*Large devices (desktops, 992px and up) <-- Hamburger menus appears here*/
@media (min-width: 992px) {
	header div.container {
    padding-left: 12vw;
	}

	#header-title,
	#about-headline {
		font-size: 4.2rem;
	}

	#header-title {
		/*font-size: 4.2rem;*/
	}

	#header-byline {
    padding-left: 3vw;
    /*padding-right: 21vw;*/
		width: 50vw;
	}

	#about-description p {
    padding-left: 0vw;
    padding-right: 5vw;
	}

	ul.social-row a.btn {
		width: 80%;
	}

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	header div.container {
    padding-left: 16vw;
	}

	#header-byline {
    padding-left: 3vw;
    /*padding-right: 21vw;*/
		width: 45vw;
	}

	ul.social-row a.btn {
		width: 70%;
	}

	ul.social-row li{
		margin-right: -25px;
	}
}
